
  body {
    background-image: url(impossible1.png), url(impossible2.png), url('dungeon.jpg');
    background-repeat: no-repeat, no-repeat, repeat;
    background-attachment: fixed, fixed, fixed;
    background-position: 40px 50px, 1200px 300px, 100px 0px;

}
  #headers{
    color:aquamarine;
  }
  .center {
    text-align: center;
  }
  .guess{
    display: inline;
    /*border: 1px solid black;*/
    font size: 60px;
    padding: 0 25px;
    margin: 10px 5px;
    font-size: 50px;
    border-radius: 25%;
    background-color: aquamarine;
    color: white;
  }
  #player-input{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    font-size: 60px;
    color: aquamarine;


  }
  #submit{
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 105px;
    left: 105px;

  }

  #input-parent{
    width: 160px;
    margin: 5% auto 50px;
    position: relative;
  }
  #sarah{
    padding:40px 50px;
    
  }
  #credit{
    color: white;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  img {
    display: inline;
    width: 250px;
    height: 125px;
  }
  #footer {
    width : 100%;
    border-top: solid 3px black;
    background-color: aquamarine;
    position: fixed;
    bottom: 0;
  }
